body, html {
    margin: 0;
}

canvas {
	float: left;
    width: 100%;
    height: 100%;

    background-image: url(http://a2.qpic.cn/psb?/V12jx2CB1UOaW6/q9moPT3Md.96XZ7eEXAwJVxNQcahj9Y650hJNWuEXk0!/b/dAwBAAAAAAAA&bo=cgSAAgAAAAAFB9A!&rf=viewer_4);
    background-attachment: fixed;
    background-size: 100%;

    top: 0;
    left: 0;
}
.main {
    position: absolute;
}
.nete_player{
    bottom: 0;
    right: 0;
    position: absolute;
    bottom: 0;
}